.selectBox{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.product-count,.order{
    font-size: 25px;
    font-weight: 400;
}

:global{
    .ant-list-lg .ant-list-item{
        padding:0;
    }
}
    