.App {
  text-align: center;
  /* background-color:#eef7f2; */
  background: #e4dfd7;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 1400px;
  display: flex;
  margin: 30px auto;
  height: 100%;
}